<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Домашняя страница</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
</head>
  <body>
    {% load staticfiles %}

      <h1>Здесь должна быть шапка, вообще-то!</h1>
      <a href="/"><input type = "button" value="Home" ></input></a>
      <a href="/aboutUs"><input type = "button" value="About Us"></input></a>
      {% block content %}
      {% endblock %}
  </body>
</html>
